.page-header {
  position: relative;
  border: 2px solid #ececec;

  @media screen and (min-width: 768px) {
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    border-bottom: 1px solid #ececec;
  }
}
.header-case {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    padding: 0 15px 0 15px;
  }
}

.logo {
  display: block;
  padding-top: 22px;
  padding-bottom: 27px;

  color: $alternativeColor;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.logo-2nd-part {
  color: $titleTxtColor;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.mobile-menu {
  padding: 45px 0 50px 40px;

  @media screen and (max-width: 767px) {
    display: none;

    &.is-open {
      position: absolute;
      left: -3px;
      width: 102%;
      height: 100vh;
      z-index: 1;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $colorLight;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0;
    margin-left: 90px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 95px;
  }
}

.header-menu-btn {
  position: relative;
  z-index: 100;
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: aqua;
  border: none;
  cursor: pointer;
  fill: black;

  & .header-menu-btn__icon--cross {
    display: none;
  }
  &.is-open .header-menu-btn__icon--menu {
    display: none;
  }
  &.is-open .header-menu-btn__icon--cross {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.site-nav {
  @extend %list;
  // margin-bottom: 305px;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    color: $titleTxtColor;
  }
  &__link:hover,
  &__link:focus {
    outline: none;
    color: $alternativeColor;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin: 0;

    &__link {
      display: flex;
      align-items: center;

      color: $titleTxtColor;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      height: 89px;
      text-decoration: none;
      transition: color $animation;
    }

    &__link:hover,
    &__link:focus {
      outline: none;
      color: $alternativeColor;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: 0.02em;
    }

    &__item {
      position: relative;
    }
    &__item:not(:last-child) {
      margin-right: 50px;
      margin-bottom: 0;
    }

    &__link--current {
      color: $alternativeColor;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: 0.02em;
    }

    &__link--current::after {
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      content: '';
      width: 100%;
      height: 5px;
      background: $alternativeColor;
      border-radius: 2px;
    }
  }
}

.header-soc-case {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.personal {
  @extend %list;

  margin-bottom: 64px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row-reverse;
  }
}

.mail {
  &__link {
    color: $mainTxtColor;
    fill: $mainTxtColor;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }

  &__icon {
    display: none;
  }

  &__link:hover,
  &__link:focus {
    fill: $alternativeColor;
    outline: none;
    color: $alternativeColor;
  }

  @media screen and (min-width: 768px) {
    margin: 0;
    display: flex;

    &__link {
      display: flex;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.02em;
      color: $mainTxtColor;
    }
    &__link:hover,
    &__link:focus {
      fill: $mainTxtColor;
      outline: none;
      color: $mainTxtColor;
    }

    &__icon {
      margin-right: 8px;
      display: block;
      width: 14px;
      height: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    align-items: center;
    margin-right: 30px;

    &__link {
      align-items: center;
      margin-bottom: 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
    }

    &__link:hover,
    &__link:focus {
      fill: $alternativeColor;
      outline: none;
      color: $alternativeColor;
    }

    &__icon {
      margin-right: 8px;
      display: block;
      width: 18px;
      height: 14px;
    }
  }
}

.tel {
  margin-bottom: 32px;
  &__link {
    color: $mainTxtColor;
    fill: $mainTxtColor;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
  }

  &__icon {
    display: none;
  }

  &__link:hover,
  &__link:focus {
    outline: none;
    color: $alternativeColor;
  }

  @media screen and (max-width: 399.98px) {
    &__link {
      display: inline-flex;
      font-weight: 500;
      font-size: 30px;
      line-height: 14px;
      letter-spacing: 0.02em;
      color: $mainTxtColor;
    }
  }
  @media screen and (min-width: 400px) and (max-width: 767.98px) {
    &__link {
      font-size: 35px;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 0;
    display: flex;
    &__link {
      display: inline-flex;
      font-size: 12px;
      line-height: 14px;
    }
    &__link:hover,
    &__link:focus {
      fill: $mainTxtColor;
      outline: none;
      color: $mainTxtColor;
    }
    &__icon {
      margin-right: 8px;
      display: block;
      width: 10px;
      height: 14px;
    }
  }
  @media screen and (min-width: 1200px) {
    align-items: center;
    &__link {
      align-items: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
    }

    &__link:hover,
    &__link:focus {
      fill: $alternativeColor;
      outline: none;
      color: $alternativeColor;
    }

    &__icon {
      margin-right: 8px;
      display: block;
      width: 15px;
      height: 21px;
    }
  }
}

.header-socials {
  @extend %list;
  display: flex;

  &__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__item:not(:first-child) {
    padding-left: 10px;
  }

  &__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $alternativeColor;

    @media screen and (min-width: 400px) and (max-width: 439.98px) {
      font-size: 15px;
    }

    @media screen and (min-width: 440px) and (max-width: 767.98px) {
      font-size: 18px;
    }
  }
  @media screen and (min-width: 767px) {
    display: none;
  }
}
