.page-header {
  position: relative;
}
.header-case {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  padding-top: 22px;
  padding-bottom: 27px;

  color: $alternativeColor;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.logo-2nd-part {
  color: $titleTxtColor;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.mobile-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
}

.header-menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  & .header-menu-btn__icon--cross {
    display: none;
  }
  &.is-open .header-menu-btn__icon--menu {
    display: none;
  }
  &.is-open .header-menu-btn__icon--cross {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    border: 2px solid #ececec;
    margin-right: auto;
    margin-left: auto;
  }
}
