.hero {
  text-align: center;
  padding-top: 115px;
  padding-bottom: 115px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $mainBgColor;
  background-size: cover;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/mobile/hero-bg-mob.png);
  
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/mobile/hero-bg-@2x-mob.png);
  }

  @media screen and (min-width: 480px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/tablet/hero-bg-tab.png);
    
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/tablet/hero-bg-@2x-tab.png);
    }
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/desktop/hero-bg-desk.png);
    
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/desktop/hero-bg-@2x-desk.png);
    }
  }

  &__title {
    margin-top: 200x;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $colorLight;

    @media screen and(min-width: 1200px ) {
      font-size: 44px;
      line-height: 1.4;
    }
  }

  &__btn {
    padding: 10px 32px;
    width: 200px;
    height: 50px;
    background: $alternativeColor;
    color: $colorLight;
    cursor: pointer;
    border-radius: 4px;
  }
}
