$mainTxtColor: #757575;
$titleTxtColor: #212121;
$alternativeColor: #2196f3;
$colorLight: #ffffff;

$mainBgColor: #2f303a;
$buttonBgColor: #f5f4fa;
$portfolioBorderColor: #eeeeee;
$portfolioBgColor: rgba(33, 150, 243, 0.9);

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
